<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{ajoutClient}" th:object="${client}" method="post">
    <label for="name">nom</label>
    <input type="text" th:field="*{nom}" id="name" placeholder="Name">

<br/>
    <label for="prenom">prenom</label>
    <input type="text" th:field="*{prenom}" id="prenom" placeholder="Name">
<br/>
    <label for="email">adresse</label>
    <input type="text" th:field="*{adresse}" id="email" placeholder="Email">
<br/>
    <input type="submit" value="Add User">
</form>
<br/>
<p><a th:href="@{/banques/listeClients}">consulter la liste des clients</a></p>

</body>
</html>