<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:switch="${comptes}">
    <h2 th:case="null">No comptes yet!</h2>
    <div th:case="*">
        <h2>comptes</h2>
        <table>
            <thead>
            <tr>

                <th>id</th>
                <th>titulaire</th>

                <th>solde</th>
                <th>dateOuverture</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="compte : ${comptes}">
                <td th:text="${compte.id}"></td>
                <td th:text="${compte.titulaire.nom+' '+compte.titulaire.prenom}"></td>
                <td th:text="${compte.solde}"></td>
                <td th:text="${compte.dateOuverture}"></td>



            </tr>
            </tbody>
        </table>
    </div>

</body>
</html>